@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
    
}
body{
    background-image: linear-gradient(90deg , rgb(210, 255, 245) , rgb(255, 255, 255));
}
.all_title{
    padding-top: 20px;
}
.title_txt{
    width: 80%;
    margin: 0 auto;
    margin-bottom: -50px;
    padding: 5px 10px 10px 10px;
    border: 6px double rgb(30, 35, 105);
    color: rgb(30, 35, 105);
}
.all{
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}
@keyframes icon_rotate{
    0%{transform: translateX(-50%) translateY(-50%) rotate(0deg);}
    100%{transform: translateX(-50%) translateY(-50%) rotate(-360deg);}
}
.all .icon_bottom i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    color: rgb(193, 232, 255);
}
.all .icon_bottom:hover i{
    color: rgb(30, 35, 105);
    animation: icon_rotate 4s linear infinite ;
}
.all .body_ul{
    margin-top: 50px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all .body_ul::after{
    position: absolute;
    top: 0px;
    content: '';
    width: 2px;
    height: 100%;
    z-index: -1;
}
.all .body_ul li{
    position: relative;
    width: 40%;
    padding: 5px;
    box-sizing: border-box;  
    margin-bottom: 0px; 
    box-shadow: 3px 3px 5px rgb(30, 35, 105);
}
.all .body_ul li:nth-child(15) a {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(30, 35, 105);
    border: 4px double rgb(255, 255, 255);
}
.all .body_ul li:hover{
    background-color: rgb(30, 35, 105);
}
.all .body_ul li:hover a{
    color: #fff;
    border: 4px double rgb(255, 255, 255);
}
.all .body_ul li:hover:nth-child(odd) .li_hover_transparentdiv{
    transform: translateX(-100%);
}
.all .body_ul li:hover:nth-child(odd){
    transform: translateX(10%);
}
.all .body_ul li:hover:nth-child(odd)::after{
    width: 15%;
    right: -15%;
    background-color: rgb(30, 35, 105);
}
.all .body_ul li:hover:nth-child(odd)::before{
    right: -15%;
    background-color: rgb(30, 35, 105);
}
.all .body_ul li:hover:nth-child(even) .li_hover_transparentdiv{
    transform: translateX(100%);
}
.all .body_ul li:hover:nth-child(even){
    transform: translateX(-10%);
}
.all .body_ul li:hover:nth-child(even)::after{
    width: 15%;
    left: -15%;
    background-color: rgb(30, 35, 105);
}
.all .body_ul li:hover:nth-child(even)::before{
    left: -15%;
    background-color: rgb(30, 35, 105);
}
.all .body_ul li:nth-child(odd){
    align-self: flex-start;
    margin-bottom: -50px;
}
.all .body_ul li:nth-child(odd)::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    z-index: -1;
}
.all .body_ul li:nth-child(odd)::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    right: -25%;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(50%);
    z-index: 2;
}
.all .body_ul li:nth-child(even){
    align-self: flex-end;
    top:25px
}
.all .body_ul li:nth-child(even)::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    z-index: -1;
}
.all .body_ul li:nth-child(even)::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: -25%;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}
.all .body_ul li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(30, 35, 105);
    border: 4px double rgb(30, 35, 105);
}
.all .body_ul li a h2{
    font-size: 20px;
}
.all .body_ul li a p{
    font-size: 13px;
}
.all .body_ul li:nth-child(odd) .li_hover_transparentdiv{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: transparent;
    top: 0px;
    left: 0px;
}
.all .body_ul li:nth-child(even) .li_hover_transparentdiv{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: transparent;
    top: 0px;
    right: 0px;
}