*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
}
.all{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 3);
}
.wrap{
    display: flex;
    width: 1200px;
    margin: auto;
}
.item{
    width: 554px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border:3px solid rgb(0, 116, 136);
    transform: translateY(0%);
    transition: transform .5s;
}
.item img{
    width: 100%;
    vertical-align: middle;
}
.item .txt{
    position: relative;
    padding: 30px;
}

.item .txt h2{
    border-bottom: 2px solid rgb(117, 250, 255);
    padding-bottom: 3px;
    margin-bottom: 5px;
    transition:color .5s;
}
.item .txt p{
    line-height: 1.5; 
    transition:color .5s;
}
.item .txt .txt_border{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 277px solid #fff;
    border-left: 277px solid #fff;
    border-bottom: 0px solid transparent;
    border-top: 50px solid transparent;
    transform: translateY(-98%);
}
.item:hover{
    transform: translateY(-50px);
}

.item:hover .txt .txt_border{
    border-right: 277px solid rgb(97, 223, 255);
    border-left: 277px solid rgb(97, 223, 255);
}
.item:hover .txt{
  background-image: linear-gradient(0deg , rgb(181, 213, 255) , rgb(97, 223, 255));
}
.item:hover{
    background-color: rgb(181, 213, 255);
}
.item:hover h2{
    color: rgb(255, 255, 255);
    border-bottom: 0px  transparent;
    font-weight: 800;
}
.item:hover p{
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.item .txt h2:after{
    display: inline-block;
    content: '';
    height: 2px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 0%;
    transition: width 0.5s 0.1s;
    margin: auto;
    z-index: 2;
}
.item:hover h2:after{
    width: 80%;
}
