@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'cwTeXYen', sans-serif;
}
html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main-footer{
    width: 100%;
    background-image: linear-gradient(180deg , rgb(22, 34, 141) , rgb(0, 159, 199));
    padding-top: 130px;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.footer-item h3{
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 10px;
}
.container a{
    color: #fff;
    text-decoration: none;
}
.container a:hover{
    color: rgb(141, 255, 75);
}
.conpyright{
    margin-top: 130px;
    padding: 5px;
    text-align: center;
    background-color: rgb(22, 34, 141);
    color: rgb(14, 207, 255);
}
.footer-item{
    width: 25%;
    padding-right: 30px;
}
.footer-item div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 1.5;
}
.footer-subs form{
    margin-top: 12px;
    display: flex;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"]{
    border: none;
    padding: 5px 10px;
}
.footer-subs input[type="text"]{ 
    flex-grow: 1;
    border-radius: 10px 0px 0px 10px;
}
.footer-subs input[type="submit"]{
    background-color: rgb(22, 34, 141);
    color: rgb(14, 207, 255);
    border-radius: 0px 10px 10px 0px;
}
.footer-subs input[type="submit"]:hover{
    color: rgb(141, 255, 75);
}
