@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'cwTeXYen', sans-serif;
}
.main-header{
    background-image: linear-gradient(90deg,rgb(255, 159, 247),rgb(195, 246, 255));
}
.main-header .container{
    width: 95%;
    padding: 7px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .container .logo{
    width: 70px;
}
.main-header .container .logo img{
    width: 100%;
}
.manu{
    display: flex;
    align-items: center;
}
.header-search{
    display: flex;
    height: 23px;
}
.header-search:hover button{
    color: rgb(12, 28, 117);
}
.header-search input[type="search"]{
    height: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
}
.header-search button{
    height: 100%;
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0px 10px 10px 0px;
}
.manu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 15px;
    position: relative;
    transform: translateY(0px);
    transition: transform .5s;
}
.manu a::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    border-bottom: 2px double rgb(12, 28, 117);
    transition: 0.5s;
}
.manu a:hover::after{
    left: 0;
    right: 0;
}
.manu a:hover{
    color: rgb(12, 28, 117);
    transform: translateY(-8px);
    font-weight: 600;
}
