*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.all{
    padding: 100px 0;
    background-image: linear-gradient(0deg , rgb(136, 196, 219), rgb(9, 30, 90) );
}
.wrap{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.item .img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    vertical-align: middle;
}
.item  .txt{
    width: 55%;
    flex-shrink: 0;
    z-index: 1;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 800;
    box-sizing:border-box;
}
.item .img {
    width: 55%;
    flex-shrink: 0;
}
.item > :first-child{
    margin-right: -10%;
}
.item:nth-child(1) .txt{
    background-color: rgba(100, 100, 100, 0.6);
    transition: transform 0.8s;
}
.item:nth-child(2) .txt{
    background-color: rgba(34, 121, 116, 0.6);
    transition: transform 0.8s;
}
.item:nth-child(3) .txt{
    background-color: rgba(138, 114, 9, 0.6);
    transition: transform 0.8s;
}
.item:nth-child(4) .txt{
    background-color: rgba(30, 58, 117, 0.6);
    transition: transform 0.8s;
}
.item .txt h2:before{
    content: '';
    display: inline-block;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 0%;
    transition: width 0.8s 0.1s;
    margin: auto;
}

.item .txt:hover  h2:before{
    width: 60%;
}

.item:nth-child(1) .img:hover + .txt , .item:nth-child(1) .txt:hover{
    transform: translateX(-30%);
}
.item:nth-child(2) .img:hover + .txt , .item:nth-child(2) .txt:hover{
    transform: translateX(30%);
}
.item:nth-child(3) .img:hover + .txt , .item:nth-child(3) .txt:hover{
    transform: translateX(-30%);
}
.item:nth-child(4) .img:hover + .txt , .item:nth-child(4) .txt:hover{
    transform: translateX(30%);
}

.item:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}
.item:nth-child(2) .txt{
    margin-right: -10%;
}

.item:nth-child(4){
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}
.item:nth-child(4) .txt{
    margin-right: -10%;
}

