@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.item{
    position: relative;
    width: 25%;
    margin: 5px;
}
.item img{
    width: 100%;
    vertical-align: bottom;
}
.item .txt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.item:hover .txt{
    opacity: 1;
}

.item .txt h2{
    font-size: 26px;
    color: rgb(255, 226, 131);
    font-weight: 500;
}
.item .txt h2:after{
    content: '';
    display: block;
    height: 2px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 0%;
    transition: width 0.5s 0.1s;
    margin: auto;
}
.item:hover h2:after{
    width: 100%;
}
.item .txt p{
    font-size: 16px;
    color: rgb(255, 225, 200);
    font-weight: 100;
}
