*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(255, 127, 234) 15%, rgb(0, 217, 255) 35%,transparent 50%),
                url(../image/landscape/布爾日主教座堂.jpg)right center / auto 100%;
}
.container{
    width: 90%;
    height: 100%;
    margin: auto;
}
.banner-txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    color: rgb(255, 255, 255);
}
.banner-txt h1{
    font-size: 80px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.banner-txt h1 small{
    display: block;
    font-size: 53px;
}
.banner-txt h2{
    font-size: 40px;
}
.banner-txt p{
    font-size: 20px;
}
