*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.all{
    width: 100%;
}
.wrap{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: rgb(30, 41, 78);
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition:box-shadow .7s;
}
.item{
    width: 45%;
    display: flex;
    box-sizing:border-box;
    margin: 5px;
    background-color: white;
}
.item .img{
    width: 50%;
    transition:box-shadow .5s;
}
.item .txt{
    width: 50%;
    padding: 10px;
    box-sizing:border-box;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.item .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.item .txt .btn{
    border:1px solid;
    border-radius: 200px;
    text-decoration: none;
    align-self: flex-end;
    line-height: 1.3;
    padding:0px 5px 3px 5px;
    margin-top: auto;
    color: rgb(23, 43, 109);
}
.item .txt .btn:hover{
    background-color: #ccc;
    color: rgb(255, 255, 255);
}
.item:nth-child(1) .img:hover{
    box-shadow: 0px 0px 20px rgb(161, 97, 0);
}
.item:nth-child(2) .img:hover{
    box-shadow: 0px 0px 20px rgb(22, 74, 151);
}
.item:nth-child(3) .img:hover{
    box-shadow: 0px 0px 20px rgb(0, 171, 177);
}
.item:nth-child(4) .img:hover{
    box-shadow: 0px 0px 20px rgb(129, 126, 74);
}
.wrap:hover{
    box-shadow: 0px 0px 50px rgb(30, 41, 78);
}


