@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    background-color: rgb(226, 254, 255);
    z-index: 1;
}
.side-menu{
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px 0px;
    background-image: linear-gradient(0deg ,rgb(255, 179, 249),rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 0 10px rgb(129, 44, 129);
}
#side-menu-switch:checked + .side-menu{
    transform: translateX(0);
}
#side-menu-switch:checked + .side-menu label i{
    transform: scaleX(-1);
    padding-left: 6px;
}
#side-menu-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.side-menu ul li{
    position: relative;
    padding: 10px 15px;
}
.side-menu ul li ul{
    display: none;
    position: absolute;
    padding: 0px 0px;
    top: 6px;
    left: 250px;
    width: 200px;
    box-sizing:border-box;
    background-color: rgb(255, 238, 254);
    box-shadow: 5px 3px 10px rgb(129, 44, 129);
    z-index: -1;
}
.side-menu ul li ul::after{
    content: '';
    position: absolute;
    top: 8px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent rgb(129, 44, 129) transparent transparent;
}
.side-menu ul li ul li ul{
    display: none;
    position: absolute;
    padding: 0px 0px;
    top: 6px;
    left: 200px;
    width: 200px;
    box-sizing:border-box;
    background-color: rgb(255, 238, 254);
    box-shadow: 5px 3px 10px rgb(129, 44, 129) ;
    z-index: -2;
}
.side-menu ul li:hover{
    background-color: rgba(255, 164, 255, 0.5);
}
.side-menu ul li:hover > ul{
    display: block;
}
.side-menu ul li a{
    color: rgb(255, 94, 255);
    text-decoration: none;
}
.side-menu ul li:hover > a{
    color: rgb(141, 0, 0);
}
.side-menu ul li p{
    padding-left: 0px;
    transition:padding-left .5s;
}
.side-menu ul li i{
    padding: 4px 0px;
    position: absolute;
    }
.side-menu ul li:nth-child(1) a i{
    padding-left: 2px;
}
.side-menu ul li:nth-child(4) a i{
    margin-left: -2px;
}
.side-menu ul li:hover > a i{
    transform: scale(1);
}
.side-menu ul li:hover > a p{
    padding-left: 20px;
    transition:.5s;
}
.side-menu ul li + li::before{
    content: '';
    position: absolute;
    border-top: 1px solid rgb(255, 94, 255);
    left: 10px;
    right: 10px;
    top: 0px;
}
.side-menu form{
    display: flex;
    border: 1px solid rgb(255, 94, 255);
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
.side-menu form input{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
    color: rgb(255, 94, 255);
}
.side-menu form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: none;
    background-image: linear-gradient(-45deg ,rgb(255, 179, 249),rgb(255, 255, 255)80%);
    border-radius: 0 10px 10px 0;
    color: rgb(255, 94, 255);
}
.side-menu form:hover i{
    color: rgb(141, 0, 0);
}

.side-menu form input:focus,
.side-menu form button:focus{
    outline: none;
}
.side-menu label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(90deg ,transparent 50%,rgb(251,217,252) 50%);
    border-radius: 0 100px 100px 0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -25px;
    box-sizing:border-box;
    box-shadow: 3px 0 0px rgb(129, 44, 129, .7);
}
.side-menu label i{
    padding-right: 5px;
    color: rgb(255, 94, 255);
}
.side-menu label:hover i{
    color: rgb(255, 255, 255);
}
