@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
.wrap{
    width: 80%;
    margin: 0px auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.item{
    position: relative;
    width: 40%;
    margin: 2.5%;
    border: 7px solid #000;
    border-radius: 15px;
    margin-top: 40px;
    transition:transform .5s,box-shadow .5s;
    box-sizing:border-box;
}
.item img{
    width: 100%;
    vertical-align: middle;
    border-radius: 7px;
    box-sizing:border-box;
}
.item .txt{
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-sizing:border-box;
}
.item .txt h2{
    margin: 10px;
    font-weight: 700;
    transition:font-size .5s;
}
.item .txt p{
    margin: 10px;
    margin-top: 0px;
    font-weight: 600;
    transition:font-size .4s;
}
.item .txt .icon{
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    margin: -40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 50%;
}
.item .txt .icon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 7px solid #000;
    border-right: 7px solid #000;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: rotate(-45deg);
}
.item:nth-child(1) .txt .icon{
    background: linear-gradient(0deg, transparent ,rgb(128,175,207) 50%);
    
}
.item:nth-child(2) .txt .icon{
    background: linear-gradient(0deg, transparent ,rgb(239,239,246) 50%);
}
.item:nth-child(3) .txt .icon{
    background: linear-gradient(0deg, transparent ,rgb(138,156,186) 50%);
}
.item:nth-child(4) .txt .icon{
    background: linear-gradient(0deg, transparent 40%,rgb(129,163,205) 50%);
}
.item:nth-child(1):hover{
    box-shadow: 10px 10px 10px rgb(91, 150, 83);
    transform: translateY(-5%);
}
.item:nth-child(2):hover{
    box-shadow: 10px 10px 10px rgb(83, 150, 130);
    transform: translateY(-5%);
}
.item:nth-child(3):hover{
    box-shadow: 10px 10px 10px rgb(83, 104, 150);
    transform: translateY(-5%);
}
.item:nth-child(4):hover{
    box-shadow: 10px 10px 10px rgb(83, 142, 150);
    transform: translateY(-5%);
}
@keyframes ss{
    0%{transform: rotate(-10deg);}
    100%{transform: rotate(10deg);}
}
.item:nth-child(1):hover .fas{
    animation: ss .3s linear infinite alternate;
    color:rgb(147, 235, 135);
}
.item:nth-child(2):hover .fas{
    animation: ss .3s linear infinite alternate;
    color:rgb(83, 150, 130);
}
.item:nth-child(3):hover .fas{
    animation: ss .3s linear infinite alternate;
    color:rgb(92, 131, 216);
}
.item:nth-child(4):hover .fas{
    animation: ss .3s linear infinite alternate;
    color:rgb(140, 209, 218);
}
