@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    background-image: linear-gradient(0deg , rgb(184, 227, 255) 0%, rgb(10, 68, 107) 44%,rgb(10, 68, 107) 55%, rgb(184, 227, 255));
}
.list{
    width: 100%;
    display: flex;
    justify-content: center;
}
.list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(10deg , rgb(167, 245, 255) , rgb(255, 255, 255) );
    position: relative;
    box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
    color: rgb(10, 68, 107);
}
.list li i{
    font-size: 30px;
    margin-bottom: 4px;
    color: rgb(10, 68, 107);
}
.list li:nth-child(2) i{
    margin-left: 2px;
}
.list li:nth-child(3) i{
    font-size: 35px;
    margin-top: -3px;
    margin-right: 2px;
    margin-bottom: 0px;
}
.list li:nth-child(4) i{
    margin-left: 2px;
    margin-bottom: 2px;
}
.list li + li{
    margin-left: 80px;
}
.list li + li:before{
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    top: 0;
    bottom: 0;
    left: -80px;
    margin: auto;
    background-color:  rgb(218,251,255);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.list li.active ~ li{
    background-image: linear-gradient(10deg , rgb(192, 192, 192) , rgb(255, 255, 255) );
}
.list li.active ~ li:before{
    background-color:  rgb(219, 219, 219);
}
