@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    margin: 0;
    height: 100%;
    font-family: "Microsoft JhengHei";
  }
  body{
    background-color: #EAF0ED;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .all{
    width: 800px;
    height: 1800px;
    max-width: 100%;
    background-image: linear-gradient(180deg , rgb(154, 90, 156) , rgb(213, 190, 214));
    padding: 30px 50px 0px 50px;
    border-radius: 10px;
  }
  .title{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
  }
  .container .col{
    background-color: #EAF0ED;
    border: 10px solid #5c3f5d;
    box-sizing: border-box;
    width: 25%;
    border-radius: 15px;
    color: #5c3f5d;
    font-size: 48px;
    width: 25%;
    flex: 1 1 50%;
    transition: transform .5s;
    padding: 5px;
  }
  .container .col a{
    color: #5c3f5d;
  }
  .container .col:hover{
    color: #EAF0ED;
    background-color: #437694;
    transform: translateY(-10%);
    transition: .5s;
  }
  .container .col:hover a{
    color: #EAF0ED;
    transition: .5s;
  }
  .container .col.main{
    font-size: 90px;
    width: 50%;
    flex: 1 1 100%;
  }
  .col2{
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .col_25-100{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .col2 p{
    font-size: 12px;

  }
  .col2 h2{
    font-size: 24px;
    margin: 0;
  }
  .container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
  }
  .container2 .col{
    background-color: #EAF0ED;
    border: 10px solid #5c3f5d;
    box-sizing: border-box;
    width: 25%;
    border-radius: 15px;
    color: #5c3f5d;
    font-size: 48px;
    width: 25%;
    flex: 1 1 50%;
    transition: transform .5s;
    padding: 5px;
  }
  .container2 .col.main{
    font-size: 90px;
    width: 50%;
    flex: 1 1 100%;
  }
  .container2 .col a,.container3 .col a{
    color: #5c3f5d;
  }
  .container2 .col:hover{
    color: #EAF0ED;
    background-color: #437694;
    transform: translateY(-10%);
    transition: .5s;
  }
  .container2 .col:hover a{
    color: #EAF0ED;
    transition: .5s;
  }
  .container3{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }
  .container3 .col{
    background-color: #EAF0ED;
    border: 10px solid #5c3f5d;
    box-sizing: border-box;
    border-radius: 15px;
    color: #5c3f5d;
    font-size: 48px;
    height: 50%;
    flex: 1 1 25%;
    transition: transform .5s;
    padding: 5px;
  }
  .container3 .col_100-50{
    height: 50%;
    flex: 1 1 100%;
  }
  .container3 .col_50-50{
    height: 50%;
    flex: 1 1 50%;
  }
  .container3 .col_75-50{
    height: 50%;
    flex: 1 1 75%;
  }
  .container3 .col:hover{
    color: #EAF0ED;
    background-color: #437694;
    transform: translateY(-10%);
    transition: .5s;
  }
  .container3 .col:hover a{
    color: #EAF0ED;
    transition: .5s;
  }
 
 