@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}
.div_head{
    height: 40px;
    width: 100%;
    background-color: rgb(37,47,74);
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    box-sizing:border-box;
}
.div_head i{
    font-size: 20px;
}
.div_head .left{
    display: flex;
}
.div_head .left i{
    font-size: 30px;
    margin-right: 15px;
}
.div_head .right i + i{
    margin-left: 15px;
}
.div_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(132,158,191);
    height: 100%;
}
.div_body .time_top{
    background-color: rgb(113,134,161);
    border-radius: 13px;
    color: rgb(255, 255, 255);
    padding: 3px 7px;
}
.div_body .left{
    position: relative;
    align-self:flex-start;
    display: flex;
    margin: 5px;
    margin-top: 10px;
}
.div_body .left .left_img{
    background-image:url("../image/people/竈門炭治郎.jpg");
    background-size: 600px;
    background-position:-300px -55px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.div_body .left .left_p{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    margin: 0px 10px 0px 15px;
    border-radius: 10px;
    z-index: 3;
}
.div_body .left::before{
    content: '';
    position: absolute;
    top: -2px;
    left: 56px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.div_body .left::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 56px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(132,158,191);
    z-index: 1;
}
.div_body .left .left_time{
    color: #fff;
    align-self:flex-end;
}
.div_body .right{
    position: relative;
    align-self:flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    margin-top: 10px;
}
.div_body .right .right_p{
    display: flex;
    align-items: center;
    background-color: rgb(177,237,139);
    padding: 5px;
    margin: 0px 15px 0px 10px;
    border-radius: 10px;
    z-index: 3;
}
.div_body .right::before{
    content: '';
    position: absolute;
    top: -2px;
    right: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(177,237,139);
    z-index: 1;
}
.div_body .right::after{
    content: '';
    position: absolute;
    top: -10px;
    right: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(132,158,191);
    z-index: 1;
}
.div_body .right .right_time{
    color: #fff;
    align-self:flex-end;
}
.div_foot{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(37,47,74,.5);
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0px 15px 0px 20px;
}
.div_foot .left{
    margin-bottom: 5px;
}
.div_foot .left span i:first-child{
    color: rgb(68,79,104);
}
.div_foot .left span i:nth-child(2){
    color: rgb(255, 255, 255);
    margin-left: 0.5px;
}
.div_foot .left span{
    font-size: 10px;
}
.div_foot form{
    display: flex;
    align-items: center;
    height: 30px;
    width: 80%;
    border-radius: 20px;
    background-color: rgb(246,246,246);
    border: 1px solid rgb(37,47,74,.5);
}
.div_foot form input{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    color: rgb(174,174,174);
    background-color: rgb(246,246,246);
    line-height: 0.5;
}
.div_foot form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
    color: rgb(174,174,174);
    background-color: rgb(246,246,246);
    font-size: 20px;
}
.div_foot form:hover span{
    color: rgb(129, 129, 129);
}
.div_foot form input:focus,
.div_foot form button:focus{
    outline: none;
}
.div_foot .right{
    color: rgb(174,174,174);
}