@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/landscape/姬路城原圖.jpg);
    background-position: center;
    background-size: cover;
}
.loing{
    width: 500px;
    height: 350px;
    background-color: rgba(26, 54, 85, .5);
    border: 5px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgb(19, 46, 104);
    backdrop-filter: blur(3px);
}
.form{
    width: 400px;
    color: #fff;
}
.form h2{
    margin-bottom: 20px;
    text-align: center;
}
.form h2:after{
    content: '';
    display: block;
    margin-top: 3px;
    border-bottom: 2px dotted #fff;
    width: 100%;
    transition: width 0.5s 0.1s;
}
.loing:hover h2:after{
    animation: ss 5s linear infinite;
}
@keyframes ss{
    0%{width: 100%;}
    25%{width: 0%;}
    50%{width: 100%;}
    75%{width: 0%;}
    100%{margin-left: auto;width: 100%;}
}
.form .group{
    margin-bottom: 20px;
}
.form .group + .group{
    margin-bottom: 40px;
}
.form input{
    width: 100%;
    line-height: 2;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-top: 5px;
    box-sizing:border-box;
}
.form .btn-group{
    font-size: 0px;
}
.form .btn{
    width: 190px;
    border: 0px;
    border-radius: 5px;
    padding: 5px 0;
    background-color: rgb(0, 131, 207);
    color: #fff;
}
.form .btn + .btn{
    margin-left: 20px;
}
.loing p{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

