@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
}
.table{
    width: 800px;
    margin: auto;
    padding: 20px;
}
.table table{
    width: 100%;
    border: 5px double rgb(42, 136, 108);
    border-radius: 20px;
}
.table img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.table th{
    width: 10%;
    border: 1px solid rgb(72, 201, 162);
    padding: 6px 10px;
}
.table td{
    width: 10%;
    border: 1px solid rgb(72, 201, 162);
    padding: 6px 10px;
}
.table .border td{
    border:0px;
}
.table tfoot a{
    text-decoration: none;
}
.table caption{
    caption-side: bottom;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.table thead th:first-child{
    border-radius: 14px 14px 0 0;
}
.table tfoot th:first-child{
    border-radius: 0 0 0 14px;
}
.table tfoot td:last-child{
    border-radius: 0 0 14px 0;
}
.table tr th{
    background-color: rgb(224, 255, 224);
}
.table tr td{
    background-color: rgb(233, 233, 233);
}
.table .border td{
    background-color: rgb(255, 255, 255);
}
