@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}
body,html{
    height: 100%;
}
/* 開關.manu_right.side-menu//////////////////////////////////////////////////////////////////////////////////////////////////// */
#side-menu-switch{
    position: absolute;
    transform: scale(0);
}
/* 導覽列//////////////////////////////////////////////////////////////////////////////////////////////////// */
.main-header{
    position: absolute;
    width: 70%;
    left: 15%;
    z-index: 9;
}
.main-header .container{
    width: 90%;
    padding: 7px ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .container .logo{
    width: 40px;
    margin-top: 5px;
}
.main-header .container .logo img{
    width: 100%;
}
.main-header .container .manu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0;
}
.header-search{
    display: flex;
    align-items: center;
    margin-top: 3px;
    height: 20px;
    width: 30%;
    border-radius: 20px;
    background-color: rgb(246,246,246);
    border: 1px solid rgb(37,47,74,.5);
}
.header-search input[type="search"]{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    color: rgb(174,174,174);
    background-color: rgb(246,246,246);
    line-height: 0.5;
}
.header-search button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
    color: rgb(174,174,174);
    background-color: rgb(246,246,246);
    font-size: 0.9em;
}
.header-search:hover button{
    color: rgb(12, 28, 117);
}
.header-search input:focus,
.header-search button:focus{
    outline: none;
}
.main-header .container .manu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 5px;
    position: relative;
    transform: translateY(0px);
    transition: transform .5s;
}
.main-header .container .manu a:hover{
    color: rgb(255, 255, 255);
    transform: translateY(-8px);
}
.main-header .container .manu a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: -8px;
    transition: transform .5s;
}
.main-header .container .manu a:hover::before{
    transform: translateY(8px);
}
.main-header .container .manu a::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    border-bottom: 2px double rgb(255, 255, 255);
    transition: 0.5s;
}
.main-header .container .manu a:hover::after{
    left: 0;
    right: 0;
}
.main-header .container .manu a:nth-child(3) i{
    margin-right: -2px;
}
.main-header .container .manu_right{
    position: relative;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    cursor: pointer; 
}
.main-header .container .manu_right::before{
    content: '';
    position: absolute;
    top: .1em;
    left: -.27em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background-color: rgb(206, 206, 206,.5);
    z-index: -1;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform .5s;
}
#side-menu-switch:checked ~ .main-header .container .manu_right::before{
    transform: scale(1);
}
.main-header .container .manu_right::after{
    content: '';
    position: absolute;
    top: -.06em;
    left: -.43em;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    border: 1px solid rgb(206, 206, 206,.5);
    z-index: -1;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform .5s .5s;
}
#side-menu-switch:checked ~ .main-header .container .manu_right::after{
    transform: scale(1) ;
}


/* 側邊選單左//////////////////////////////////////////////////////////////////////////////////////////////////// */
.side-menu_absolute{
    position: absolute;
    z-index: 10;
    width: 15%;
    height: 100%;
    left: -100%;
    opacity: 0;
    transition:  opacity .5s , left .5s;
}
.side-menu{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    background: linear-gradient(0deg ,rgb(179, 250, 255,.5) ,rgb(255, 255, 255) );
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#side-menu-switch:checked ~ .side-menu_absolute{
    left: 0;
    opacity: 1;
}
.side-menu::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    box-sizing: border-box;
    border: 4px double rgb(44, 88, 129);
    z-index: 1;
}
.side-menu ul{
    padding: 0 6px;
}
.side-menu ul li{
    position: relative;
    padding: 10px 15px;
    z-index: 2;
}
.side-menu ul li ul{
    display: none;
    position: absolute;
    padding: 0px 0px;
    top: 6px;
    left: 100%;
    width: 100%;
    box-sizing:border-box;
    background-color: rgb(217, 252, 255,.9);
    border: 4px double rgb(44, 88, 129);
    z-index: 1;
}
.side-menu ul li ul::after{
    content: '';
    position: absolute;
    top: 8px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent rgb(44, 88, 129) transparent transparent;
}
.side-menu ul li:hover{
    background-color: rgb(44, 88, 129, 0.6);
}
.side-menu ul li:hover > ul{
    display: block;
}
.side-menu ul li a{
    color: rgb(44, 88, 129);
    text-decoration: none;
}
.side-menu ul li:hover > a{
    color: rgb(255, 255, 255);
}
.side-menu ul li p{
    padding-left: 0px;
    transition:padding-left .5s;
}
.side-menu ul li i{
    margin: 4px 0px;
    position: absolute;
    transform-origin:left;
    transform: scale(0);
    transition: transform .5s;
    }
.side-menu ul li:nth-child(2) a i{
    padding-left: 2px;
}
.side-menu ul li:nth-child(5) a i{
    margin-left: -2px;
}
.side-menu ul li:hover > a i{
    transform: scale(1);
}
.side-menu ul li:hover > a p{
    padding-left: 20px;
    transition:.5s;
}
.side-menu ul li + li::before{
    content: '';
    position: absolute;
    border-top: 1px solid rgb(44, 88, 129, 0.5);
    left: 10px;
    right: 10px;
    top: 0px;
}
.side-menu ul li:hover + li::before{
    border-top: 1px solid rgb(44, 88, 129, 0);
}
.side-menu form{
    display: flex;
    border: 1px solid rgb(44, 88, 129,.5);
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    z-index: 2;
}
.side-menu form input{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
    color: rgb(44, 88, 129);
}
.side-menu form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border: none;
    background-image: linear-gradient(-45deg ,rgb(193, 251, 255),rgb(255, 255, 255)80%);
    border-radius: 0 10px 10px 0;
    color: rgb(73, 148, 218);
}
.side-menu form:hover i{
    color: rgb(44, 88, 129);
}
.side-menu form input:focus,
.side-menu form button:focus{
    outline: none;
}
.side-menu .side-menu_close{
    text-align: center;
    margin-top: auto;
    color: rgb(44, 88, 129);
    z-index: 2;
}
.side-menu .side-menu_close i{
    cursor: pointer; 
    transition: .5s;

}
.side-menu .side-menu_close i:hover{
    transform: rotate(90deg) scale(1.5);
}


/* 大標圖文//////////////////////////////////////////////////////////////////////////////////////////////////// */

.banner{
    margin: auto;
    width:100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(84,136,183) 0%, rgb(18,48,133) 30%,transparent 60%),
                url(../image/landscape/布爾日主教座堂.jpg)right center / auto 100%;           
}
.banner .container{
    width: 70%;
    height: 100%;
    margin: auto;
    position: relative;
}
.banner .banner-txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
}
.banner .banner-txt h1{
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-top: 30px;
}
.banner .banner-txt h1 small{
    display: block;
    margin-top: -8px;
    font-size: 0.8em;
}
.banner .banner-txt h2{
    font-size: 1.2em;
}
.banner .banner-txt p{
    font-size: 0.8em;
}

/* 大標圖文旋轉方格//////////////////////////////////////////////////////////////////////////////////////////////////// */

.banner .container .banner_box_ul{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 45vw;
    height: 45vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
}
.banner .container .banner_box_ul li{
    position: relative;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
    transition: color 1.5s;
    color: rgb(132, 237, 255);
    font-weight: 700;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.banner .container .banner_box_ul li:hover{
    color: rgb(255, 255, 255);
    transition: color 1.5s;
}
.banner .container .banner_box_ul li:hover div.A{
    clip-path: inset(0 100% 0 0);
}
.banner .container .banner_box_ul li:hover::after{
    transform: rotate(45deg) scale(1);
    opacity: 1;
    box-shadow:2px 2px 2px rgba(0, 142, 161, 0.5);
}
.banner .container .banner_box_ul li:hover::before{
    transform: rotate(45deg) scale(1);
    opacity: 1;
    box-shadow:2px 2px 2px rgb(143, 0, 161,.5);
}
.banner .container .banner_box_ul li::before{
    content: '';
    position: absolute;
    top: -30%;
    left: -9%;
    width: 90%;
    height: 90%;
    transform: rotate(45deg) scale(0);
    background-color: rgba(129, 115, 255, 0.5);
    transform-origin:10% 90%;
    border-radius: 15%;
    transition: 1.5s;
    opacity: 0;
    z-index: -1;
}
.banner .container .banner_box_ul li::after{
    content: '';
    position: absolute;
    top: -30%;
    left: -9%;
    width: 90%;
    height: 90%;
    transform: rotate(45deg);
    background-color: rgba(119, 255, 255, 0.5);
    border-radius: 15%;
    transform-origin:10% 90%;
    transform: rotate(45deg) scale(0);
    transition: 1.5s .3s;
    opacity: 0;
    z-index: -1;
}
.banner .container .banner_box_ul li div.A{
    position: absolute;
    top: -12%;
    left: -13%;
    height: 125%;
    width: 125%;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 0 0 0);
    transition: clip-path 1.5s;
}
.banner .container .banner_box_ul li div.A::after{
    content: '';
    position: absolute;
    top: 14%;
    left: 15%;
    width: 69%;
    height: 69%;
    transform: rotate(45deg);
    border: 2px solid rgb(67, 189, 241);
    border-radius: 15%;
    box-shadow:0px 0px 10px rgb(155, 225, 255) inset;
    backdrop-filter: blur(1px);
}
.banner .container .banner_box_ul li{
    transform: translateY(85%);
}
.banner .container .banner_box_ul li:nth-child(n+4){
    transform: translateX(75%) translateY(20%);
}
.banner .container .banner_box_ul li:nth-child(n+7){
    transform: translateX(0) translateY(-45%);
}
.banner .container .banner_box_ul li:nth-child(1){
    transform: scale(0);
}
.banner .container .banner_box_ul li:nth-child(6){
    transform: scale(0);
}
.banner .container .banner_box_ul li:nth-child(7){
    transform: scale(0);
}

/* CSS選取器//////////////////////////////////////////////////////////////////////////////////////////////////// */
.CSS_nth-child{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.CSS_nth-child .title{
    margin-top: 50px;
    width: 100%;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 51, 97);
}
.CSS_nth-child .title h2{
    font-size: 2em;
}
.CSS_nth-child .title::after{
    content: '';
    display: inline-block;
    margin-left: .5em;
    width: 10px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_nth-child .title::before{
    content: '';
    display: inline-block;
    margin-right: .5em;
    width: 10px;
    height: 4px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_nth-child .wrap{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.CSS_nth-child .wrap .item{
    position: relative;
    width: 20vw;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border:1px solid rgb(11, 50, 102);
    transform: translateY(0%);
    transition: transform .5s;
    box-shadow: 3px 3px 3px rgb(11, 50, 102,.8);
}
.CSS_nth-child .wrap .item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
}
.CSS_nth-child .wrap .item:hover:after{
    bottom: -20px;
}
.CSS_nth-child .wrap .item img{
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(1) .img{
    background-image: url(../image/landscape/主教座堂廣場.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(2) .img{
    background-image: url(../image/landscape/嚴島神社.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(3) .img{
    background-image: url(../image/landscape/姬路城.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(4) .img{
    background-image: url(../image/landscape/羅馬競技場.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(5) .img{
    background-image: url(../image/landscape/阿格拉堡.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item:nth-child(6) .img{
    background-image: url(../image/landscape/菩提伽耶的摩訶菩提寺.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14vw;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_nth-child .wrap .item .txt{
    position: relative;
    padding: 30px;
}

.CSS_nth-child .wrap .item .txt h2{
    font-size: 1.3em;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
}
.CSS_nth-child .wrap .item .txt p{
    line-height: 1.5; 
}
.CSS_nth-child .wrap .item .txt .txt_border{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10vw solid #fff;
    border-left: 10vw solid #fff;
    border-bottom: 0px solid transparent;
    border-top: 4em solid transparent;
    transform: translateY(-98%);
}
.CSS_nth-child .wrap .item:hover{
    transform: translateY(-20px);
}

.CSS_nth-child .wrap .item:hover .txt .txt_border{
    border-right: 10vw solid rgb(255,252,154);
    border-left: 10vw solid rgb(255,252,154);
}
.CSS_nth-child .wrap .item:hover .txt{
  margin: auto;
  background-image: linear-gradient(0deg , rgb(220,140,16),rgb(255,252,154) );
}
.CSS_nth-child .wrap .item:hover{
    background-color: rgb(220,140,16);
}
.CSS_nth-child .wrap .item:hover h2{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(134, 85, 10);
    font-weight: 800;
}
.CSS_nth-child .wrap .item:hover p{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(151, 95, 11);
    font-weight: 700;
}

/* CSS切版//////////////////////////////////////////////////////////////////////////////////////////////////// */

.CSS_flex{
    width: 70%;
    margin: auto;
}
.CSS_flex .title{
    margin-top: 50px;
    width: 100%;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 51, 97);
}
.CSS_flex .title h2{
    font-size: 2em;
}
.CSS_flex .title::after{
    content: '';
    display: inline-block;
    margin-left: .5em;
    width: 10px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_flex .title::before{
    content: '';
    display: inline-block;
    margin-right: .5em;
    width: 10px;
    height: 4px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_flex .wrap{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.CSS_flex .wrap .item{
    display: flex;
    align-items: center;
}
.CSS_flex .wrap .item + .item{
    margin-top: 20px;
}
.CSS_flex .wrap .item .img {
    width: 55%;
    flex-shrink: 0;
}
.CSS_flex .wrap .item .img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    vertical-align: middle;
}
.CSS_flex .wrap .item .txt{
    position: relative;
    width: 55%;
    flex-shrink: 0;
    z-index: 1;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 600;
    box-sizing:border-box;
    transition: transform 0.8s;
}
.CSS_flex .wrap .item .txt h2{
    font-size: 1.3em;
}
.CSS_flex .wrap .item:nth-child(odd) .txt .img_background{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -81.7%;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt .img_background, .CSS_flex .wrap .item:nth-child(odd) .txt:hover .img_background{
    opacity: 1;
    transform: translateX(30%);
}
.CSS_flex .wrap .item:nth-child(even) .txt .img_background{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -81.8%;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt .img_background, .CSS_flex .wrap .item:nth-child(even) .txt:hover .img_background{
    opacity: 1;
    transform: translateX(-30%);
}
.CSS_flex .wrap .item > :first-child{
    margin-right: -10%;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt , .CSS_flex .wrap .item:nth-child(odd) .txt:hover{
    transform: translateX(-30%);
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt , .CSS_flex .wrap .item:nth-child(even) .txt:hover{
    transform: translateX(30%);
}

.CSS_flex .wrap .item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}
.CSS_flex .wrap .item:nth-child(even) .txt{
    margin-right: -10%;
}
.CSS_flex .wrap .item:nth-child(odd) .txt::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt::before , .CSS_flex .wrap .item:nth-child(odd) .txt:hover::before{
    right: -30%;
}
.CSS_flex .wrap .item:nth-child(odd) .txt .box_shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 80%;
    width: 2%;
    opacity: 0;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt .box_shadow , .CSS_flex .wrap .item:nth-child(odd) .txt:hover .box_shadow{
    opacity: 1;
    right: -3%;
}
.CSS_flex .wrap .item:nth-child(odd) .txt .box_shadow::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 50%;
    width: 50%;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt .box_shadow::after , .CSS_flex .wrap .item:nth-child(odd) .txt:hover .box_shadow::after{
    opacity: 1;
    right: -100%;
}
.CSS_flex .wrap .item:nth-child(odd) .txt .box_shadow::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 25%;
    width: 25%;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(odd) .img:hover + .txt .box_shadow::before , .CSS_flex .wrap .item:nth-child(odd) .txt:hover .box_shadow::before{
    opacity: 1;
    right: -200%;
}
.CSS_flex .wrap .item:nth-child(even) .txt::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt::before , .CSS_flex .wrap .item:nth-child(even) .txt:hover::before{
    left: -30%;
}
.CSS_flex .wrap .item:nth-child(even) .txt .box_shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: 80%;
    width: 2%;
    opacity: 0;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt .box_shadow , .CSS_flex .wrap .item:nth-child(even) .txt:hover .box_shadow{
    opacity: 1;
    left: -3%;
}
.CSS_flex .wrap .item:nth-child(even) .txt .box_shadow::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: 50%;
    width: 50%;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt .box_shadow::after , .CSS_flex .wrap .item:nth-child(even) .txt:hover .box_shadow::after{
    opacity: 1;
    left: -100%;
}
.CSS_flex .wrap .item:nth-child(even) .txt .box_shadow::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: 25%;
    width: 25%;
    transition: .8s;
}
.CSS_flex .wrap .item:nth-child(even) .img:hover + .txt .box_shadow::before , .CSS_flex .wrap .item:nth-child(even) .txt:hover .box_shadow::before{
    opacity: 1;
    left: -200%;
}

.CSS_flex .wrap .item:nth-child(1) .txt,
.CSS_flex .wrap .item:nth-child(1) .txt .img_background,
.CSS_flex .wrap .item:nth-child(1) .txt .box_shadow,
.CSS_flex .wrap .item:nth-child(1) .txt .box_shadow::after,
.CSS_flex .wrap .item:nth-child(1) .txt .box_shadow::before{
    background-color: rgba(100, 100, 100, 0.6);
}
.CSS_flex .wrap .item:nth-child(2) .txt,
.CSS_flex .wrap .item:nth-child(2) .txt .img_background,
.CSS_flex .wrap .item:nth-child(2) .txt .box_shadow,
.CSS_flex .wrap .item:nth-child(2) .txt .box_shadow::after,
.CSS_flex .wrap .item:nth-child(2) .txt .box_shadow::before{
    background-color: rgba(34, 121, 116, 0.6);
}
.CSS_flex .wrap .item:nth-child(3) .txt,
.CSS_flex .wrap .item:nth-child(3) .txt .img_background,
.CSS_flex .wrap .item:nth-child(3) .txt .box_shadow,
.CSS_flex .wrap .item:nth-child(3) .txt .box_shadow::after,
.CSS_flex .wrap .item:nth-child(3) .txt .box_shadow::before{
    background-color: rgba(138, 114, 9, 0.6);
}
.CSS_flex .wrap .item:nth-child(4) .txt,
.CSS_flex .wrap .item:nth-child(4) .txt .img_background,
.CSS_flex .wrap .item:nth-child(4) .txt .box_shadow,
.CSS_flex .wrap .item:nth-child(4) .txt .box_shadow::after,
.CSS_flex .wrap .item:nth-child(4) .txt .box_shadow::before{
    background-color: rgba(30, 58, 117, 0.6);
}

/* CSS動畫//////////////////////////////////////////////////////////////////////////////////////////////////// */
.CSS_animation{
    width: 70%;
    margin: auto;
}
.CSS_animation .title{
    margin-top: 50px;
    width: 100%;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 51, 97);
}
.CSS_animation .title h2{
    font-size: 2em;
}
.CSS_animation .title::after{
    content: '';
    display: inline-block;
    margin-left: .5em;
    width: 10px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_animation .title::before{
    content: '';
    display: inline-block;
    margin-right: .5em;
    width: 10px;
    height: 4px;
    flex-grow: 1;
    border-top: 4px double rgb(67, 189, 241);
}
.CSS_animation .wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-top: 20px;
}
.CSS_animation .item{
    position: relative;
    width: 45%;
    min-height: 25vw;
    display: flex;
    box-sizing:border-box;
    background-color: white;
    border: 1px solid rgb(11, 50, 102);
    margin: 10px;
    box-shadow: 1px 1px 2px rgb(11, 50, 102,.8);
}
.CSS_animation .item:nth-child(1) .img{
    background-image: url(../image/landscape/阿格拉堡.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_animation .item:nth-child(2) .img{
    background-image: url(../image/landscape/羅馬競技場.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_animation .item:nth-child(3) .img{
    background-image: url(../image/landscape/菩提伽耶的摩訶菩提寺.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_animation .item:nth-child(4) .img{
    background-image: url(../image/landscape/主教座堂廣場.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.CSS_animation .item .txt{
    width: 50%;
    padding: 10px;
    box-sizing:border-box;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.CSS_animation .item .txt h2{
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    font-size: 1.3em;
}
.CSS_animation .item .txt .btn{
    border:1px solid;
    border-radius: 200px;
    text-decoration: none;
    align-self: flex-end;
    line-height: 1.3;
    padding:0px 5px 3px 5px;
    margin-top: auto;
    color: rgb(23, 43, 109);
    cursor: pointer;
}
.CSS_animation .item .txt .btn:hover{
    background-color: #ccc;
    color: rgb(255, 255, 255);
}
.CSS_animation .item .txt .img_background{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.CSS_animation .item .txt .img_animation{
    content: '';
    position: absolute;
    top: 10%;
    left: 17%;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: rgb(164,103,80, .8);
    box-shadow: 0px 0px 20px rgba(85, 53, 42, 0.8) inset;
}
@keyframes ball{
    0%{
        top: 10%;
    }
    100%{
        top: 65%;
    }
}
.CSS_animation .item:nth-child(1) .txt .btn:hover ~ .img_animation{
    animation-name:ball;
    animation-duration:1s;
}
.CSS_animation .item:nth-child(2) .txt .btn:hover ~ .img_animation{
    animation-name:ball;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
.CSS_animation .item:nth-child(3) .txt .btn:hover ~ .img_animation{
    animation-name:ball;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
.CSS_animation .item:nth-child(4) .txt .btn:hover ~ .img_animation{
    animation-name:ball;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function:ease-in;
}
.CSS_animation .item:nth-child(1) .txt .img_animation{
    background-color: rgb(164,103,80, .8);
    box-shadow: 0px 0px 20px rgba(85, 53, 42, 0.8) inset;
}
.CSS_animation .item:nth-child(2) .txt .img_animation{
    background-color: rgb(4,76,162,.8);
    box-shadow: 0px 0px 20px rgba(2, 39, 85, 0.8) inset;
}
.CSS_animation .item:nth-child(3) .txt .img_animation{
    background-color: rgb(83,95,101,.8);
    box-shadow: 0px 0px 20px rgba(38, 43, 46, 0.8) inset;
}
.CSS_animation .item:nth-child(4) .txt .img_animation{
    background-color: rgb(238,245,248,.8);
    box-shadow: 0px 0px 20px rgba(131, 134, 136, 0.8) inset;
}
/* 頁尾//////////////////////////////////////////////////////////////////////////////////////////////////// */

.main-footer{
    width: 100%;
    background-image: linear-gradient(180deg , rgb(22, 34, 141) , rgb(0, 159, 199));
    padding-top: 130px;
}
.main-footer .container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.main-footer .footer-item h3{
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 10px;
}
.main-footer .container a{
    color: #fff;
    text-decoration: none;
}
.main-footer .container a:hover{
    color: rgb(141, 255, 75);
}
.main-footer .conpyright{
    margin-top: 130px;
    padding: 5px;
    text-align: center;
    background-color: rgb(22, 34, 141);
    color: rgb(14, 207, 255);
    font-size: .8em;
}
.main-footer .footer-item{
    width: 25%;
    padding-right: 30px;
}
.main-footer .footer-item h3{
    font-size: 1.1em;
}
.main-footer .footer-item div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 1.5;
}
.main-footer .footer-subs form{
    margin-top: 12px;
    display: flex;
}
.main-footer .footer-subs form input:focus{
    outline: none;
}
.main-footer .footer-subs input[type="text"],
.main-footer .footer-subs input[type="submit"]{
    border: none;
}
.main-footer .footer-subs input[type="text"]{ 
    border-radius: 10px 0px 0px 10px;
    width: 80%;
    font-size: .8em;
    padding: 2px 10px;
}
.main-footer .footer-subs input[type="submit"]{
    background-color: rgb(22, 34, 141);
    color: rgb(14, 207, 255);
    border-radius: 0px 10px 10px 0px;
    font-size: .8em;
    width: 20%;
    padding: 2px auto;
}
.main-footer .footer-subs input[type="submit"]:hover{
    color: rgb(141, 255, 75);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    *{
        font-size: 14px;
    }
}
@media screen and (max-width: 767.9px){
    *{
        font-size: 12px;
    }

    .main-header{
        width: 100%;
        left: 0%;
    }
    .header-search{
        display: none;
    }

    .side-menu_absolute{
        width: 30%;
    }

    .banner{
        background: linear-gradient(135deg, rgb(18,48,133) 0%,transparent 50%),
                    url(../image/landscape/布爾日主教座堂.jpg)right center / auto 100%;           
    }
    .banner .container{
        width: 100%;
    }
    .banner .banner-txt{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items:flex-start;
    }
    .banner .container .banner_box_ul{
        width: 50vh;
        height: 50vh;
    }

    .CSS_nth-child{
        width: 95%;
    }
    .CSS_nth-child .wrap .item{
        width: 40vw;
    }
    .CSS_nth-child .wrap .item .txt .txt_border{
        border-right: 20vw solid #fff;
        border-left: 20vw solid #fff;
        border-bottom: 0px solid transparent;
        transform: translateY(-99%);
    }  
    .CSS_nth-child .wrap .item:hover .txt .txt_border{
        border-right: 20vw solid rgb(255,252,154);
        border-left: 20vw solid rgb(255,252,154);
    }
    .CSS_nth-child .wrap .item:nth-child(1) .img{
        height: 18vh;
    }
    .CSS_nth-child .wrap .item:nth-child(2) .img{
        height: 18vh;
    }
    .CSS_nth-child .wrap .item:nth-child(3) .img{
        height: 18vh;
    }
    .CSS_nth-child .wrap .item:nth-child(4) .img{
        height: 18vh;
    }
    .CSS_nth-child .wrap .item:nth-child(5) .img{
        height: 18vh;
    }
    .CSS_nth-child .wrap .item:nth-child(6) .img{
        height: 18vh;
    }

    .CSS_flex{
        width: 95%;
    }

    .CSS_animation{
        width: 95%;
    }
    .CSS_animation .item{
        width: 80%;
        min-height: 50vw;
    }
    .CSS_animation .item .txt .img_animation{
        left: calc(25% - 2.5vh);
        width: 5vh;
        height: 5vh;
    }

    .main-footer .container{
        width: 95%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-footer .footer-item{
        width: 50%;
        padding-bottom: 20px;
        padding-right: 0px;
    }
    .main-footer .footer-item h3{
        padding-bottom: 2px;
    }
    .main-footer .footer-item div{
        margin-top: 3px;
    }
    .main-footer .footer-subs form{
        margin-top: 5px;
    }
}
