@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
.txt_01{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
    display: flex;
}
.txt_01 h2{
    padding: 20px;
    margin-right: 20px;
    line-height: 20px;
    background-color: rgb(240, 240, 240);
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.txt_01 h2 > span + span{
    align-self: flex-end;
}
.txt_01 .decoration{
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-color: brown;
}
.txt_01 p{
    column-count: 2;
    column-gap: 20px;
    flex: 1 1 70%;
}
.txt_02{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
}
.txt_02 h2{
    float: left;
    border-right: 4px solid brown;
    padding: 30px;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.txt_03{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
}
.txt_03 h2{
    position: relative;
    font-size: 70px;
    color: rgb(170, 170, 170);
    text-align: center;
}
.txt_03 h2::after{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(230, 230, 230);
    z-index: -1;
}
.txt_03 p{
    display: flex;
    margin-top: 40px;
}
.txt_03 p span + span{
    margin-left: 20px;
    border-left: 4px solid #000;
    padding-left: 5px;
}
.txt_03 p span::first-letter {
    font-size: 30px;
}
.txt_04{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
    display: flex;
}
.txt_04 h2{
    display: flex;
    text-align: center;
    align-items: center;
    order: 2;
    background-color: rgb(240, 240, 240);
}
.txt_04 p{
    display: flex;
    flex-direction: column;
    order: 1;
}
.txt_04 > p + p{
    margin-left: 25px;
    order: 3;
}
.txt_04 p span + span{
    border-left: 4px solid #000;
    padding-left: 5px;
}
.txt_04 p span:first-child:first-letter{
    font-size: 40px;
    float: left;
    margin-right: 5px;
    margin-top: -8px;
}
.txt_05{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
}
.txt_05 h2{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 90px;
    left: -15px;
    width: 400px;
    font-size: 43px;
    float: right;
    line-height: 1.5;
    color: rgb(158, 158, 158); 
}
.txt_05 h2::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border: 30px solid rgb(238, 238, 238);
    z-index: -1;
    bottom: 0;
}
.txt_05 h2::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: brown;
    transform: rotate(30deg);
    z-index: -1;
    bottom: 0;
}
.txt_05 .txt{
    column-count: 2;
    column-gap: 20px;
    box-shadow: 0 0 10px rgb(90, 90, 90);
    padding: 10px;
}
.txt_05 .txt p + p span + span{
    display: block;
    border-left: 4px solid #000;
    padding-left: 5px;
}
.txt_06{
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
    overflow: hidden;
}
.txt_06 .txt_h2{
    position: absolute;
    z-index: -1;
}
.txt_06 h2{
    position: relative;
    display: flex;
    align-items: center;
    width: 1050px;
    font-size: 90px;
    line-height: 1.5;
    color: rgb(255, 255, 255); 
    text-shadow: 10px 10px 0px rgb(187, 187, 187);
    transform: rotate(10deg);
    top: 10px;
    left: 120px;
    opacity: .4;
}
.txt_06 h2::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 200px;
    height: 200px;
    border: 60px solid rgb(238, 238, 238);
    z-index: -1;
    
}
.txt_06 h2::after{
    content: '';
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(247, 144, 144);
    transform: rotate(0deg);
    z-index: -1;
}
.txt_06 .txt{
    left: -50px;
    column-count: 2;
    column-gap: 20px;
    box-shadow: 0 0 10px rgb(90, 90, 90);
    padding: 10px;
    z-index: 2;
}
.txt_06 .txt p + p span + span{
    display: block;
    border-left: 4px solid #000;
    padding-left: 5px;
}
.txt_07{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    border: 4px double #000;
    padding: 20px;
    text-align: center;
}
.txt_07 h2{
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt_07 .txt_h2 h2::after{
    content: '';
    display: inline-block;
    margin-left: .5em;
    width: 10px;
    height: 4px;
    flex-grow: 1;
    background-color:  brown;
}
.txt_07 .txt_h2 h2::before{
    content: '';
    display: inline-block;
    margin-right: .5em;
    width: 10px;
    flex-grow: 1;
    border-top: 4px solid brown;
}
.txt_07 .txt{
    position: relative;
    padding: 20px;
}
.txt_07 .txt::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: 2px solid rgb(179, 179, 179);
    border-right: 2px solid rgb(179, 179, 179);
    bottom: 0;
    right: 0;
}
.txt_07 .txt::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 2px solid rgb(179, 179, 179);
    border-left: 2px solid rgb(179, 179, 179);
    top: 0;
    left: 0;
}
