@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
.box_ul{
    width: 810px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -2;
}
.box_ul li{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 60px -15px;
    text-align: center;
    line-height: 150px;
    box-sizing: border-box;
    z-index: 1;
    transition: color 1.5s;
}
.box_ul li:hover{
    color: rgb(255, 255, 255);
}
.box_ul li:hover div.A{
    clip-path: inset(0 100% 0 0);
}
.box_ul li:hover::after{
    transform: rotate(45deg) scale(1);
    opacity: 1;
    box-shadow:2px 2px 2px rgba(0, 142, 161, 0.5);
}
.box_ul li:hover::before{
    transform: rotate(45deg) scale(1);
    opacity: 1;
    box-shadow:2px 2px 2px rgb(143, 0, 161,.5);
}
.box_ul li::before{
    content: '';
    position: absolute;
    top: -60px;
    left: -24.8px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg) scale(0);
    background-color: rgba(129, 115, 255, 0.7);
    transform-origin:15px 135px;
    border-radius: 30px;
    transition: 1.5s;
    opacity: 0;
    z-index: -1;
}
.box_ul li::after{
    content: '';
    position: absolute;
    top: -60px;
    left: -24.8px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    background-color: rgba(119, 255, 255, 0.7);
    border-radius: 30px;
    transform-origin:15px 135px;
    transform: rotate(45deg) scale(0);
    transition: 1.5s .3s;
    opacity: 0;
    z-index: -1;
}
.box_ul li div.A{
    position: absolute;
    top: -25px;
    left: -25px;
    height: 200px;
    width: 200px;
    z-index: -1;
    border-radius: 50%;
    clip-path: inset(0 0 0 0);
    transition: clip-path 1.5s;
}
.box_ul li div.A::after{
    content: '';
    position: absolute;
    top: 23px;
    left: 23px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 2px solid rgb(255, 95, 242);
    border-radius: 30px;
    box-shadow:2px 2px 2px rgb(143, 0, 161,.5);
}
.box_ul li:nth-child(n+4){
    transform: translateX(135px);
}
.box_ul li:nth-child(n+7){
    transform: translateX(0);
}
.box_ul li:nth-child(6){
    transform: scale(0);
}

.box_ul li:nth-child(10)::before{
    top: -25px;
    left: 60px;
    transition: 3s;
    transform-origin:15px 15px;
}
.box_ul li:nth-child(10)::after{
    top: 25px;
    left: -60px;
    transition: 3s .5s;
    transform-origin:135px 135px;
}
.box_ul li div.B{
    position: absolute;
    top: -25px;
    left: -25px;
    height: 200px;
    width: 200px;
    z-index: -1;
    border-radius: 50%;
    clip-path: polygon(-20% -20%, 120% -20%, 120% 120%, -20% 120%);
    transition: transform 3.5s , clip-path 13s;
}
.box_ul li:hover div.B{
    clip-path: polygon(40% -20%, 100% -20%, 60% 120%, 0% 120%);
    transform: rotate(180deg);
    transition: transform 3.5s , clip-path 1s;
}
.box_ul li:hover div.B::after{
    transform: rotate(-135deg);
    transition: transform 3.5s ,opacity 5s;
    opacity: 0;
}
.box_ul li div.B::after{
    content: '';
    position: absolute;
    top: 22px;
    left: 22px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 3px solid rgb(197, 20, 182);
    border-radius: 30px;
    box-shadow:2px 2px 2px rgb(143, 0, 161,.5);
    transition: transform 3.5s ,opacity 4s;
    opacity: 1;
}
