@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    height: 100%;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(67,137,111);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(85,174,142);
    box-shadow: 200px 0px 0px 0px rgb(85,174,142),
                400px 0px 0px 0px rgb(85,174,142),
                600px 0px 0px 0px rgb(85,174,142),
                800px 0px 0px 0px rgb(85,174,142),
                1000px 0px 0px 0px rgb(85,174,142),
                1200px 0px 0px 0px rgb(85,174,142),
                1400px 0px 0px 0px rgb(85,174,142),
                1600px 0px 0px 0px rgb(85,174,142),
                100px 100px 0px 0px rgb(85,174,142),
                300px 100px 0px 0px rgb(85,174,142),
                500px 100px 0px 0px rgb(85,174,142),
                700px 100px 0px 0px rgb(85,174,142),
                900px 100px 0px 0px rgb(85,174,142),
                1100px 100px 0px 0px rgb(85,174,142),
                1300px 100px 0px 0px rgb(85,174,142),
                1500px 100px 0px 0px rgb(85,174,142),
                1700px 100px 0px 0px rgb(85,174,142),
                0px 200px 0px 0px rgb(85,174,142),
                200px 200px 0px 0px rgb(85,174,142),
                400px 200px 0px 0px rgb(85,174,142),
                600px 200px 0px 0px rgb(85,174,142),
                800px 200px 0px 0px rgb(85,174,142),
                1000px 200px 0px 0px rgb(85,174,142),
                1200px 200px 0px 0px rgb(85,174,142),
                1400px 200px 0px 0px rgb(85,174,142),
                1600px 200px 0px 0px rgb(85,174,142),
                100px 300px 0px 0px rgb(85,174,142),
                300px 300px 0px 0px rgb(85,174,142),
                500px 300px 0px 0px rgb(85,174,142),
                700px 300px 0px 0px rgb(85,174,142),
                900px 300px 0px 0px rgb(85,174,142),
                1100px 300px 0px 0px rgb(85,174,142),
                1300px 300px 0px 0px rgb(85,174,142),
                1500px 300px 0px 0px rgb(85,174,142),
                1700px 300px 0px 0px rgb(85,174,142),
                0px 400px 0px 0px rgb(85,174,142),
                200px 400px 0px 0px rgb(85,174,142),
                400px 400px 0px 0px rgb(85,174,142),
                600px 400px 0px 0px rgb(85,174,142),
                800px 400px 0px 0px rgb(85,174,142),
                1000px 400px 0px 0px rgb(85,174,142),
                1200px 400px 0px 0px rgb(85,174,142),
                1400px 400px 0px 0px rgb(85,174,142),
                1600px 400px 0px 0px rgb(85,174,142),
                100px 500px 0px 0px rgb(85,174,142),
                300px 500px 0px 0px rgb(85,174,142),
                500px 500px 0px 0px rgb(85,174,142),
                700px 500px 0px 0px rgb(85,174,142),
                900px 500px 0px 0px rgb(85,174,142),
                1100px 500px 0px 0px rgb(85,174,142),
                1300px 500px 0px 0px rgb(85,174,142),
                1500px 500px 0px 0px rgb(85,174,142),
                1700px 500px 0px 0px rgb(85,174,142),
                0px 600px 0px 0px rgb(85,174,142),
                200px 600px 0px 0px rgb(85,174,142),
                400px 600px 0px 0px rgb(85,174,142),
                600px 600px 0px 0px rgb(85,174,142),
                800px 600px 0px 0px rgb(85,174,142),
                1000px 600px 0px 0px rgb(85,174,142),
                1200px 600px 0px 0px rgb(85,174,142),
                1400px 600px 0px 0px rgb(85,174,142),
                1600px 600px 0px 0px rgb(85,174,142),
                100px 700px 0px 0px rgb(85,174,142),
                300px 700px 0px 0px rgb(85,174,142),
                500px 700px 0px 0px rgb(85,174,142),
                700px 700px 0px 0px rgb(85,174,142),
                900px 700px 0px 0px rgb(85,174,142),
                1100px 700px 0px 0px rgb(85,174,142),
                1300px 700px 0px 0px rgb(85,174,142),
                1500px 700px 0px 0px rgb(85,174,142),
                1700px 700px 0px 0px rgb(85,174,142);
    z-index: -1;
}
.all{
    width: 80%;
    margin: auto;
    border: 4px double rgb(240, 78, 255);
}
.all .top_img{
    background-image: url(../image/people/神魔鬼滅.jpg);
    background-position: 50% 5%;
    width: 100%;
    height: 500px;
    z-index: 1;
    border-bottom: 4px double #fff;
    box-sizing: border-box;
}
.all .bodt_txt{
    position: relative;
    display: flex;
    padding: 20px;
    z-index: 2;
    clip-path: inset(-450% 0 0 0);
}
.all .bodt_txt .txt_A{
    cursor: pointer;
}
.all .bodt_txt .txt_A:hover{
    color: rgb(255, 94, 94);
}
.all .bodt_txt .txt_B{
    cursor: pointer;
}
.all .bodt_txt .txt_B:hover{
    color: rgb(85,174,142);
}
.all .bodt_txt div{
    z-index: 4;
}
.all .bodt_txt div:nth-child(3){
    margin-left: 20px;
}
.all .bodt_txt .txt-background{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 3;
}
@keyframes txt_before{
    0%{left: -25px}
    100%{left: -1425px}
}
.all .bodt_txt::before{
    content: '';
    position: absolute;
    top: -55px;
    left: -25px;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 0 0 100px rgba(255, 184, 251,.5),
                150px -30px 0 -10px rgba(255, 184, 251,.5),
                200px -70px 0 -45px  rgba(255, 184, 251,.5),
                250px 0 0 0  rgba(255, 184, 251,.5),
                350px 70px 0 50px  rgba(255, 184, 251,.5),
                420px 0 0 50px  rgba(255, 184, 251,.5),
                550px 100px 0 100px  rgba(255, 184, 251,.5),
                650px 0 0 50px  rgba(255, 184, 251,.5),
                760px -30px 0 -10px  rgba(255, 184, 251,.5),
                810px -20px 0 -40px  rgba(255, 184, 251,.5),
                910px 100px 0 100px  rgba(255, 184, 251,.5),
                980px -100px 0 -20px  rgba(255, 184, 251,.5),
                1020px -50px 0 -35px  rgba(255, 184, 251,.5),
                1100px -70px 0 -40px  rgba(255, 184, 251,.5),
                1200px -30px 0 20px  rgba(255, 184, 251,.5),

                1400px 0 0 100px rgba(255, 184, 251,.5),
                1550px -30px 0 -10px rgba(255, 184, 251,.5),
                1600px -70px 0 -45px  rgba(255, 184, 251,.5),
                1650px 0 0 0  rgba(255, 184, 251,.5),
                1750px 70px 0 50px  rgba(255, 184, 251,.5),
                1820px 0 0 50px  rgba(255, 184, 251,.5),
                1950px 100px 0 100px  rgba(255, 184, 251,.5),
                2050px 0 0 50px  rgba(255, 184, 251,.5),
                2160px -30px 0 -10px  rgba(255, 184, 251,.5),
                2210px -20px 0 -40px  rgba(255, 184, 251,.5),
                2310px 100px 0 100px  rgba(255, 184, 251,.5),
                2380px -100px 0 -20px  rgba(255, 184, 251,.5),
                2420px -50px 0 -35px  rgba(255, 184, 251,.5),
                2500px -70px 0 -40px  rgba(255, 184, 251,.5),
                2600px -30px 0 20px  rgba(255, 184, 251,.5);
    animation-name: txt_before;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes txt_after{
    0%{left: -30px}
    100%{left: -1430px}
}
.all .bodt_txt::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -30px;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 0 100px rgb(255, 255, 255),
                150px -30px 0 -10px rgb(255, 255, 255),
                200px -70px 0 -45px rgb(255, 255, 255),
                250px 0 0 0 rgb(255, 255, 255),
                350px 70px 0 50px rgb(255, 255, 255),
                420px 0 0 50px rgb(255, 255, 255),
                550px 100px 0 100px rgb(255, 255, 255),
                650px 0 0 50px rgb(255, 255, 255),
                760px -30px 0 -10px rgb(255, 255, 255),
                810px -20px 0 -40px rgb(255, 255, 255),
                910px 100px 0 100px rgb(255, 255, 255),
                980px -100px 0 -20px rgb(255, 255, 255),
                1020px -50px 0 -35px rgb(255, 255, 255),
                1100px -70px 0 -40px rgb(255, 255, 255),
                1200px -30px 0 20px rgb(255, 255, 255),

                1400px 0 0 100px #fff,
                1550px -30px 0 -10px #fff,
                1600px -70px 0 -45px  #fff,
                1650px 0 0 0  #fff,
                1750px 70px 0 50px  #fff,
                1820px 0 0 50px  #fff,
                1950px 100px 0 100px  #fff,
                2050px 0 0 50px  #fff,
                2160px -30px 0 -10px  #fff,
                2210px -20px 0 -40px  #fff,
                2310px 100px 0 100px  #fff,
                2380px -100px 0 -20px  #fff,
                2420px -50px 0 -35px  #fff,
                2500px -70px 0 -40px  #fff,
                2600px -30px 0 20px  #fff;
    animation-name: txt_after;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}


